/* Add this style to your existing styles or in the head of your HTML */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    
  }
  

  .editor-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
    overflow: hidden; /* Hide the overflow content when resized */
    resize: horizontal; /* Allow horizontal resizing */
    overflow-x: auto; /* Add horizontal scrollbar if needed */
   
    background-color: transparent;
    margin-left: 30px;
    
  }
  
  
  .editor-textarea {
    font-family: 'Courier New', monospace;
    font-size: 12px;
    width: 100%;
    min-height: 150px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: #000000;
    color: #eded0e;
  }

  
  
  textarea:focus {
    outline: none;
    border-color: #66d9ef;
  }
  
  button {
    padding: 10px;
    background-color: #66d9ef;
    color: #272822;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #5cb8cc;
  }
  
  #result-container {
    flex: 1;
    padding: 0px;
    box-sizing: border-box;
    border: 0px solid #ccc;
     
    background-color: transparent;
    color: #f8f8f2;
  
    

   
  }
  
  
  .selection-wrapper {
    position: absolute;
    width: 160px;
    height: 160px;
    pointer-events: none;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s 0.2s, opacity 0.2s ease-in;
  }
  .selection-wrapper-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-out;
  }
  .selection-wrapper svg {
    fill: #2e2;
    stroke: #000;
    stroke-width: 1.1px;
  }

  .info-window {
    position: absolute;
    top: 50%; /* Adjust this as needed */
    right: 10px; /* Adjust this value to set the distance from the right edge */
    width: 300px;
    height: 200px;
    border: 2px solid #000;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.info-window-header {
    background-color: #817f7f;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-window-header img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.close-btn {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.info-window-content {
    padding: 10px;
}
