
    th.sorted {
      background-color: #ffeeba; /* Set the background color for the sorted column */
    }
  
    th:not(.sorted) {
      background-color: transparent; /* Clear the background color for other columns */
    }


    .header-cell {
          color:#8EBBFF;
          border: 0px solid white;
          padding: 8px;
          font-size: 12px;
          text-align: left;
     }

     .body-cell {
          color:#FFFFFF;
          border: 0px solid white;
          padding: 8px;
          font-size: 12px;
     }

     .totals-row {
          color:#ea09e2;
          border: 0px solid white;
          padding: 8px;
          font-size: 12px;
     }


     .bar-container {
          display: flex;
          align-items: center;
     }


     .key-selector{
          display: flex;
          align-items: center;
     }
     .key-selector:hover{
         color:#000000;
         background-color: lightgray;
         cursor: pointer; 
     }



      

     .bar-value {
          margin-left: 1px; /* Add some spacing between the bar and value */
          margin-right: 8px;
          text-align: left;
          min-width: 30px;

     }

      .tooltip-table {
         border-collapse: collapse;
         border: 0;
         /* Other styling properties */
     }

     .tooltip-table th, .tooltip-table td {
         padding: 0;
         /* Other cell styling properties */
     }

     .tooltipIcon {
         position: relative;
         display: inline-block;
     }

     .tooltip-text {
         visibility: hidden;
         width: 180px;
         background-color: #1e1e29;
         color: #fff;
         text-align: center;
         border-radius: 5px;
         position: absolute;
         z-index: 9999;
         bottom: -100%;
         left: -150%;
         transform: translateX(-50%);
         opacity: 0;
         font-size: 14px;
         box-shadow: 5px 5px 10px #000000;
         border-style: solid;
         border-color: #1f3b45;
         border-width: 1px;
         right:5px;
     }
     .tooltip-text2 {
         visibility: hidden;
         width: 150px;
         background-color: #1e1e29;
         color: #fff;
         text-align: center;
         border-radius: 5px;
         padding: 5px;
         position: absolute;
         z-index: 1;
         bottom: -100%;
         left: 150%;
         transform: translateX(-50%);
         opacity: 0;
         transition: opacity 0.3s, visibility 0.3s;
         font-size: 14px;
         box-shadow: 5px 5px 10px #000000;
         border-style: solid;
         border-color: #1f3b45;
         border-width: 1px;
         right:5px;
     }
     .tooltipIcon:hover .tooltip-text {
         visibility: visible;
         opacity: 1;
     }
     .tooltipIcon:hover .tooltip-text2 {
         visibility: visible;
         opacity: 1;
     }

     .tooltip-container {
         position: relative;
     }


     .resize-icon-container {
         position: absolute;
         bottom: 0;
         right: 0;
         z-index: 1;
     }

     #mapContainer {
        position: relative; /* Change to relative */
        }
      
      /* Style the tooltip div */
      .tooltip {
        position: absolute; /* Change to absolute */
        top: 0; /* Align with the top of mapContainer */
        left: 0;
        width: 600px;
        height: 200px;
        display: none;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 10px;
        border: 1px solid #ccc;
        z-index: 9999;
      }
      
      .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.99); /* Semi-transparent background */
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999; /* Ensure it's above other elements */
          }
      
          /* Style for the start button */
          .start-button {
            padding: 15px 30px;
            background-color: #3498db;
            color: #fff;
            font-size: 18px;
            cursor: pointer;
          }


          th.sorted {
            background-color: #ffeeba; /* Set the background color for the sorted column */
          }
        
          th:not(.sorted) {
            background-color: transparent; /* Clear the background color for other columns */
          }
   
   
          .header-cell {
                color:#8EBBFF;
                border: 0px solid white;
                padding: 8px;
                font-size: 12px;
                text-align: left;
           }
   
           .body-cell {
                color:#FFFFFF;
                border: 0px solid white;
                padding: 8px;
                font-size: 12px;
           }
   
           .totals-row {
                color:#ea09e2;
                border: 0px solid white;
                padding: 8px;
                font-size: 12px;
           }
   
   
           .bar-container {
                display: flex;
                align-items: center;
           }
   
   
           .key-selector{
                display: flex;
                align-items: center;
           }
           .key-selector:hover{
               color:#000000;
               background-color: lightgray;
               cursor: pointer; 
           }         
   
           .bar-value {
                margin-left: 1px; /* Add some spacing between the bar and value */
                margin-right: 8px;
                text-align: left;
                min-width: 30px;
   
           }
   
            .tooltip-table {
               border-collapse: collapse;
               border: 0;
               /* Other styling properties */
           }
   
           .tooltip-table th, .tooltip-table td {
               padding: 0;
               /* Other cell styling properties */
           }
   
           .tooltipIcon {
               position: relative;
               display: inline-block;
           }
   
     
   
           body::-webkit-scrollbar {
           width: 12px;               /* width of the entire scrollbar */
           }
   
           body::-webkit-scrollbar-track {
           background: orange;        /* color of the tracking area */
           }
   
           body::-webkit-scrollbar-thumb {
           background-color: blue;    /* color of the scroll thumb */
           border-radius: 20px;       /* roundness of the scroll thumb */
           border: 3px solid orange;  /* creates padding around scroll thumb */
           }
   
           .tooltip-text {
               visibility: hidden;
               width: 180px;
               background-color: #1e1e29;
               color: #fff;
               text-align: center;
               border-radius: 5px;
               position: absolute;
               z-index: 9999;
               bottom: -100%;
               left: -150%;
               transform: translateX(-50%);
               opacity: 0;
               font-size: 14px;
               box-shadow: 5px 5px 10px #000000;
               border-style: solid;
               border-color: #1f3b45;
               border-width: 1px;
               right:5px;
           }
           .tooltip-text2 {
               visibility: hidden;
               width: 150px;
               background-color: #1e1e29;
               color: #fff;
               text-align: center;
               border-radius: 5px;
               padding: 5px;
               position: absolute;
               z-index: 1;
               bottom: -100%;
               left: 150%;
               transform: translateX(-50%);
               opacity: 0;
               transition: opacity 0.3s, visibility 0.3s;
               font-size: 14px;
               box-shadow: 5px 5px 10px #000000;
               border-style: solid;
               border-color: #1f3b45;
               border-width: 1px;
               right:5px;
           }
           .tooltipIcon:hover .tooltip-text {
               visibility: visible;
               opacity: 1;
           }
           .tooltipIcon:hover .tooltip-text2 {
               visibility: visible;
               opacity: 1;
           }
   
           .top-bar-container {
               display: flex;
               justify-content: space-between; /* Align columns at the start and end */
               align-items: center; /* Vertically center items */
               width: 100%; /* Take up the full width of the top bar */
           }
   
           .title-column {
           flex: 1; /* Allow the title column to grow and take available space */
           }
   
           .icons-column {
                   display: flex; /* Use flexbox to control the alignment */
                   flex-direction: row; /* Stack items vertically */
                   align-items: flex-end; /* Align items to the top */
                   
           }
           .collapse-button {
                 
               border-block-end: #7CB1B1;		
               border-block-color: #7CB1B1;
               background-color: #7CB1B1;
               border-color: #25a2a2;
               color: #86ffff;
               border-width: 1px;
           }
           .close-button{
               border-block-end: #7CB1B1;		
               border-block-color: #7CB1B1;
               background-color: #7CB1B1;
               border-color: #25a2a2;
               color: #86ffff;
               border-width: 1px;
           }

           tr:hover {
            background-color: #474545;
          }
        
          /* Change the cursor to a pointer when hovering over a clickable row */
          tr.clickable:hover {
            cursor: pointer;
          }

          .logo-container {
            position: fixed;  /* Position the div relative to the viewport */
            top: 0;  /* Position at the top of the viewport */
            left: 0; /* Position at the left of the viewport */
            z-index: 99999; /* Ensure it's on top of other content */
            padding: 10px; /* Add padding for spacing */
        }
        
        /* Apply styles to the logo image (adjust as needed) */
        .logo-container img {
            width: 100px; /* Set the width of the logo */
            height: auto; /* Maintain aspect ratio */
        }

        #detailView {
            width: 800px;
            height: 600px;
            background-color: lightgray; /* Add a background color to visualize the "detailView" */
        }
        
        #detail {
            width: 100%; /* Set the width to 100% to fill the parent's width */
            height: 100%; /* Set the height to 100% to fill the parent's height */
            background-color: lightblue; /* Add a background color to visualize the "detail" */
        }
        