<h1>{{title}}</h1>
{{#if isAuthenticated }}
<p>Hola {{username}}!</p>

<br>
<h2>Visualizadores disponibles :</h2>
<br>
<a href="/front/app/main.html">Visualizador 1</a>
<br>
<br>
<a href="/auth/signout">Sign out</a>

{{else}}
<p>Bienvenido a {{title}}</p>
<a href="/auth/signin">Entrar</a>
{{/if}}
