.columns .ui-table{border-collapse:collapse;border-width:0px 0px 0 1px;border-style:solid;border-color:black;width:100%}
.columns .ui-table thead tr{border-color:black; background-image:-webkit-linear-gradient(top, gray 10%, black 80%);background-image:linear-gradient(to bottom, #242424 10%, black 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='gray', endColorstr='black',GradientType=0 );color:#CCCCCC;font-size:120%;font-weight:bold;height:20px;text-align:left}

.columns .ui-table thead tr th{border-color:black;padding:1px;border-right:1px solid black;border-bottom:1px solid black}

.columns .ui-table thead tr th:first-child{border-color:black;border-left:1px solid black}
.columns .ui-table thead tr th:last-child{border-color:black;border-right:1px solid black}
.columns .ui-table thead tr th .ui-arrow{border-color:black;display:block;float:right;color:white;font-size:12px;width:8px}
.columns .ui-table thead tr th.ui-table-sort-up,.columns .ui-table thead tr th
.ui-table-sort-down{border-color:black;background:-webkit-linear-gradient(top, #d0d9e4 10%, #94a3c0 100%);background:linear-gradient(to bottom, #CCCCCC 10%, #CCCCCC 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCCCCC', endColorstr='#CCCCCC',GradientType=0 )}

.columns .ui-table tbody{font-size:120%}
.columns .ui-table tbody tr td{border-right:1px solid #FFFFFF;padding:2px;border-color:black; }
.columns .ui-table tbody tr.ui-table-rows-even{background:#191919;border-color:black; color:white;font-weight:normal;}

.columns .ui-table tbody tr.ui-table-rows-odd{background:#333333;border-color:black; color:white;font-weight:normal;}

.columns .ui-table-footer{background-image:-webkit-linear-gradient(top, rgba(0,0,0,.5) 10%, rgba(0,0,0,.5) 100%);background-image:linear-gradient(to bottom, rgba(0,0,0,.5) 10%, rgba(0,0,0,.5) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#CBCBCB', endColorstr='#AAAAAA',GradientType=0 );border-top:1px solid #878787;width:100%;padding:4px 0;font-size:120%;text-align:left;color:#333}

.columns .ui-table-footer span{vertical-align:middle}

.columns .ui-table-footer .ui-table-show-rows,.columns .ui-table-footer .ui-table-results,.columns .ui-table-footer .ui-table-controls{display:inline-block;width:32%}

.columns .ui-table-footer .ui-table-show-rows{padding-left:3px}

.columns .ui-table-footer .ui-table-results{text-align:center}

.columns .ui-table-footer .ui-table-controls{text-align:right}

.columns .ui-table-footer .ui-table-control-next,.columns .ui-table-footer .ui-table-control-prev,.columns .ui-table-footer .ui-table-control-disabled{display:inline-block;background-image:-webkit-linear-gradient(top, #333333 10%, #333333 100%);background-image:linear-gradient(to bottom, #CCCCCC 10%, #CCCCCC 100%);background-color:transparent;border:1px solid #333;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;list-style:none;margin:0;padding:0px;vertical-align:middle;font-weight:bold;color:#FFFFFF;cursor:pointer;text-align:center}

.columns .ui-table-footer .ui-table-control-disabled img{opacity:0.5}

.columns .ui-columns-search{font-size:120%;background:-webkit-linear-gradient(top, #191919 10%, #a7a7a8 100%);background:linear-gradient(to bottom, rgba(0,0,0,.5) 10%,rgba(0,0,0,.5) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#191919',GradientType=0 );padding:1px;border-bottom:1px solid #878787;text-align:right}

.columns .ui-columns-search input{font-size:120%;width:200px;border-radius:5px;padding:3px 3px 3px 25px;border:1px solid transparent;background-image:url(../images/search.png);background-position:5px center;background-repeat:no-repeat}
.columns .ui-columns-search input:focus{border:1px solid #191919;outline:none}
